main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-title {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.primary-btn {
  position: relative;
  border-radius: 5px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: all .3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.primary-btn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.primary-btn:hover::before {
  width: 100%;
}